<br><br>

<!-- <h2 class="user-name">Welcome{{studentName}}</h2><br>
<div class = "container">
  <form>
   
    <h2>{{formTitle}}</h2>
    
    Name
    <br>
    <input type="text"> <br><br>
    password <br>
    <input type="password">
    <br> <br>
    <button class="sbmt-btn">Submit</button>
  </form>
</div>
<p>you have received amount {{amount}}</p>
<p>{{isFavcity}}</p> -->
<!-- test cases 1. can we use typeOf operator into interpollation : no we can not -->
<!-- <p>{{typeOf(isFavcity)}}</p> -->
<!--test case 2. can we use arithematic operators in to interpollation : yes we can -->
<!-- <p>{{50+10}}</p> -->
<!--test case 3. can we use methods/function into interpollation : yes we can use  -->
 <!-- <p>{{testingInterpolation()}}</p> -->
 <!-- test case 4. can we use assingment operator with interpolation: no we can use 
 = - assingment operator
 == - equlity operator(it will check only value equality)
 === - equlity operator (it will check value as well as datatype)
-->
<!-- property binding -->
<!-- <input type="text" [value]="myName">
<br><br>
<input type="radio" [checked]="gender"><br><br>
<input type="text" value="{{myName}}"><br><br> -->

<!-- <input type="text" disabled="{{isDisabled}}"><br><br>we can use not interpollation majorly attribute  -->
<!-- <input type="text" [disabled]="isDisabled"><br> -->

<!-- event binding() (click),(focus) (blur) etc -->
<!-- <br><br>
<button (click)="testingEventBinding()">Click..</button>
{{eventBindingData}}
 <br><br> -->

<!-- two way data binding  -->
<!-- <input type="text" [(ngModel)]= "twoWayBindingTest">
<br><br>
{{twoWayBindingTest}}

<button (click)="test()">click to print</button>



<app-login></app-login>
<app-signup></app-signup>
 <a routerLink="login">Login component</a>

 <router-outlet></router-outlet>

  -->
